/* body {
    background-color: yellow;
  }
  #root {
    height: 400px;
    background-image: url('./react.png');
    background-size: cover;
    background-position: center;
    color: white;
  } */


  body {
    background-color: yellow;
  }